<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Finance.Infrastructure.Properties.Settings.DataConnectionString"
            connectionString="Data Source=DELL\SQLEXPRESS;Initial Catalog=Data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>